form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}



input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}

@media (max-width: 480px) {
    form {
        padding: 10px;
    }
}